<!-- Clara Ho -->
<!-- 11/3/2018 -->

<div class="page">
  <h1>Identify</h1>
  <form clrForm class="form">
    <clr-input-container>
      <label>Request Date</label>
      <br>
      <input class="input" type="date" clrDate>
    </clr-input-container>
  </form>

  <form clrForm>
    <label>Requester Name</label>
    <br>
    <input clrInput class="input" type="text" placeholder="First" name="first" [(ngModel)]="first" size="10"/>
    &nbsp;
    <input clrInput class="input" type="text" placeholder="Last" name="last" [(ngModel)]="last" size="15"/>
  </form>

  <form clrForm>
    <label>VUNetID</label>
    <br>
    <input clrInput class="input" type="text" placeholder="" name="id" [(ngModel)]="id" />
  </form>

  <form clrForm>
    <label>Requester Email</label>
    <br>
    <input clrInput class="input" type="text" placeholder="" name="email" [(ngModel)]="email" />
  </form>

  <form clrForm>
    <clr-input-container>
      <label>Requester Phone Number</label>
      <br>
      <input placeholder="" clrInput class="input" type="text" [(ngModel)]="phone1" name="phone1" required />
      <br>
      <clr-control-helper>###-###-####</clr-control-helper>
      <clr-control-error></clr-control-error>
    </clr-input-container>
  </form>

  <form clrForm>
    <label>Requester Home Dept Name</label>
    <br>
    <input clrInput class="input" type="text" placeholder="" name="dept" [(ngModel)]="dept" />
  </form>

  <form clrForm>
    <clr-input-container>
      <label>Date of Event</label>
      <br>
      <input class="input" type="date" clrDate>
    </clr-input-container>
  </form>

  <form clrForm>
    <label>Alternate Contact</label>
    <br>
    <input clrInput class="input" type="text" placeholder="First" name="altfirst" [(ngModel)]="altfirst" size="10"/>
    &nbsp;
    <input clrInput class="input" type="text" placeholder="Last" name="altlast" [(ngModel)]="altlast" size="15"/>
  </form>

  <form clrForm>
    <label>Alternate Email</label>
    <br>
    <input clrInput class="input" type="text" placeholder="" name="altemail" [(ngModel)]="altemail" />
  </form>

  <form clrForm>
    <clr-input-container>
      <label>Alternate Phone Number</label>
      <br>
      <input clrInput class="input" type="text" [(ngModel)]="alternatephone" name="alternatephone" required />
      <br>
      <clr-control-helper>###-###-####</clr-control-helper>
      <clr-control-error></clr-control-error>
    </clr-input-container>
  </form>


</div>
