<!-- Jason Brito -->
<!-- 10.28.2018 -->

<div class="page">
  <h1>Categorize</h1>
  <clr-dropdown [clrCloseMenuOnItemClick]="true">
    <label clrDropdownTrigger>
      <h5>Problem Code</h5>
      <input clrInput [(ngModel)]="search" />
    </label>

    <clr-dropdown-menu *clrIfOpen>
      <div *ngFor="let category of filter()">
        <button type="button" clrDropdownItem (click)="onClick(category)">
          <span [innerHTML]="bold(category)"></span>
        </button>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>

  <div role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
    <clr-icon shape="info-circle" size="24"></clr-icon>
    <span class="tooltip-content">Description...</span>
  </div>

  <form clrForm *ngIf="search == 'Event'">
    <div *ngIf="getURL().length"><img [src]="getURL()" height="200"></div>
    <div *ngIf="getURL().length"><br></div>
    <input clrInput type='file' (change)="upload($event)">
  </form>

  <h5>Description</h5>
  <div class="clr-control-container">
    <textarea clrTextarea title="description" [(ngModel)]="description"></textarea>
  </div>
</div>
