<!-- Jason Brito -->
<!-- 10.28.2018 -->

<div class="page">
  <h1>Categorize</h1>
  <label>Problem Code</label>
  <br>
  <clr-dropdown [clrCloseMenuOnItemClick]="true">
    <label clrDropdownTrigger>
      <input clrInput class="input" type="text" [(ngModel)]="search" />
    </label>

    <clr-dropdown-menu *clrIfOpen>
      <div *ngFor="let category of filter()">
        <button type="button" clrDropdownItem (click)="onClick(category)">
          <span [innerHTML]="bold(category)"></span>
        </button>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>

  <form clrForm *ngIf="search == 'Event'">
    <div *ngIf="getURL().length"><img [src]="getURL()" height="200"></div>
    <div *ngIf="getURL().length"><br></div>
    <input clrInput class="input" type='file' (change)="upload($event)">
  </form>

  <br>
  <br>
  <div class="clr-control-container">
    <label>Description</label>
    <br>
    <textarea clrTextarea class="textarea" title="description" [(ngModel)]="description"></textarea>
  </div>
</div>
