<!--
Lays out a search box that accepts input and filters through a list of Vanderbilt
locations. The list drops down when the search box is clicked.
-->
<div class="page">
  <clr-dropdown [clrCloseMenuOnItemClick]="true">
    <label clrDropdownTrigger>
      <input clrInput placeholder="Enter your location." [(ngModel)]="search" />
    </label>

    <clr-dropdown-menu *clrIfOpen>
      <div *ngFor="let location of filter()">
        <button type="button" clrDropdownItem (click)="onClick(location)">
          <span [innerHTML]="bold(location)"></span>
        </button>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>
