<!--
Lays out a search box that accepts input and filters through a list of Vanderbilt
locations. The list drops down when the search box is clicked.
-->
<div class="page">
  <h1>Step 2: Locate</h1>
  <clr-dropdown [clrCloseMenuOnItemClick]="true">
    <label clrDropdownTrigger>
      <input clrInput placeholder="Enter your building." [(ngModel)]="search" />
    </label>

    <clr-dropdown-menu *clrIfOpen>
      <div *ngFor="let building of filter(buildings)">
        <button type="button" clrDropdownItem (click)="onClick(building)">
          <span [innerHTML]="bold(building)"></span>
        </button>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>

  &nbsp;

  <clr-select-container>
    <label>Floor</label>
    &nbsp;
    <select clrSelect [(ngModel)]="floors">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </clr-select-container>

  &nbsp;
  &nbsp;

  <clr-select-container>
    <label>Room</label>
    &nbsp;
    <select clrSelect [(ngModel)]="rooms">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </clr-select-container>
</div>
