<!--
Lays out a search box that accepts input and filters through a list of Vanderbilt
locations. The list drops down when the search box is clicked.
-->
<div class="page">
  <h1>Locate</h1>
  <label>Building</label>
  <br>
  <clr-dropdown [clrCloseMenuOnItemClick]="true">
    <label clrDropdownTrigger>
      <input clrInput class="input" type="text" [(ngModel)]="search" />
    </label>

    <clr-dropdown-menu *clrIfOpen>
      <div *ngFor="let building of filter(buildings)">
        <button type="button" clrDropdownItem (click)="onClick(building)">
          <span [innerHTML]="bold(building)"></span>
        </button>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>

  <form clrForm>
    <clr-input-container>
      <label>Floor</label>
      <input clrInput class="input" type="text" size="5"/>
      &nbsp;
      <label>Room</label>
      <input clrInput class="input" type="text" size="5"/>
    </clr-input-container>
  </form>

</div>
