<header class="header-3">
  <div class="branding">
    <span class="nav-link"><clr-icon shape="note"></clr-icon></span>
    <span class="title">SnapReport</span>
  </div>
  <div class="header-nav">
    <a class="nav-link"><span class="nav-text">Upload</span></a>
    <a class="nav-link"><span class="nav-text">Locate</span></a>
    <a class="nav-link"><span class="nav-text">Categorize</span></a>
    <a class="nav-link"><span class="nav-text">Describe</span></a>
  </div>
  <div class="header-actions">
    <a class="nav-link"><span class="nav-text">VUnet ID</span></a>
  </div>
</header>
<app-upload></app-upload>
<app-location></app-location>
<app-category></app-category>
<app-information></app-information>
